body{
    .entregas{
        font-family: Courgette;
        color: white;
        background-color: #398269;
        p{
            font-family: Courier Prime; 
            margin: 0;
        }
    }
}