body {
  .mimaleta {
    font-family: Courgette;
    color: white;
    background-color: #398269;
    .descripcion-mi-maleta {
       
      margin-top: 150px;
      .icono-flecha{
        margin-top: 52px;
        
      }
    }
  }
}
