body {
    .funcion-mi-maleta{
        font-family: Courgette;
        background-color: #398269;
        text-align: center;
        color: white;
        height: 300px;
        .border-white{
           border-bottom: 2px solid white;
           width: 900px;
           text-align: center;
            
        }
      
    }
}