body {
  .bg-cards-pedido {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #398269;
    .card-pedido {
      width: 950px;
      height: 326px;
      border: 2px solid white;
      color: white;
      
       
        .numero-titulo{
            width: 450px;
            margin-top: 50px;
            font-family: Courgette;
      
      
      }
      .text-descripcion{
        
        margin: 20px 80px;
        font-family: Courier Prime;
        text-align: center;
      }
      
    }
  }
}
