body {
  .bg-pagos-entrega {
    background-color: #00565f;
    height: 280px;
    color: white;
    h3 {
      font-family: Courgette;
      font-size: 30px;
    }
    p {
      font-family: Courier-Prime;
      font-size: 20px;
    }
    .candado-pagos{
        margin-top: 86px;
    }
    .entrega-garantizada{
        margin-top: 86px;
    }
  }
}
