body{
    .bg-iniciar-sesion{
        background-color: #398269;
        color: white;
        height: 25rem;
        padding-left: 20px;
        padding-right: 20px;
        .iniciar-sesion{
            font-family: Courgette;
            background-color: #398269;
            height: 50px;
        }
    }
   
}