body {
  .header {
    font-family: Dancing Script;
    color: white;
    background-color: #00565f;
    height: 100px;
   a{
    text-decoration: none;
   }
    .mi-maleta-home {
      text-decoration: none;
      color: white;
  
    }
    .boton-light {
      width: 200px;
      height: 40px;
      margin-right: 20px;
      margin-top: 40px;
    }
  }
}
