body {
  .tab-registro-login {
    background-color: #9c9c9c;
  --bs-nav-tabs-link-active-bg: #398269;
    --bs-nav-link-color: #000000;
    font-family: Courgette;
    .tab-registro{
        color: black;
        
      
    }
  }
}
